* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 max-width: 1440px;
 margin-top: 5em;
 font-family: 'League Spartan', sans-serif;
 background-color: hsl(222, 26%, 31%);
 font-weight: 700;
}
h3 {
 color: white;
 font-size: small;
}
header p {
 color: white;
 
}
.header {
 display: flex;
 justify-content: space-between;
 width: 40%;
 margin: 0 auto;
}
.toggles {
 display: flex;
 justify-content: space-between;
 gap: 10px;
 margin-top: -10px;
}
.flex-button {
 width: 100%;
 display: flex;
justify-content: space-between;
gap: 8px;
}
.flex-button p {
 font-size: x-small;
}
.toggle-one {
 width: 30%;
 height: 10px;
 border: 1px transparent black;
 border-radius: 100%;
  background-color: hsl(6, 63%, 50%);
  margin-left: 0%;
}
.toggle-two {
 width: 30%;
 height: 10px;
 border: 1px transparent black;
 margin: 0 auto;
 border-radius: 100%;
  background-color: hsl(6, 63%, 50%);
}
.toggle-three{
 width: 30%;
 height: 10px;
 border: 1px transparent black;
 margin-left: 20px;
 border-radius: 100%;
  background-color: hsl(177, 92%, 70%);
}
.buttons {
 width: 100%;
 background-color: hsl(223, 31%, 20%);
 padding: 2px;
 border-radius: 20px;
}
.toggles-num {
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.theme {
 margin-top: 15px;
 /* color: black; */
}
.theme p {
 font-size: xx-small;
 font-weight: 100;
 /* color: black; */
}

.flex {
 display: flex;
 justify-content: space-between;
}
.flex div {
 width: 22%;
 height: 3em;
 border: 1px transparent black;
 box-shadow: 1px 3px hsl(28, 16%, 65%);
 border-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: hsl(221, 14%, 31%);
 background-color: hsl(30, 25%, 89%);
}
.flex div:hover{
  background-color: hsl(30, 50%, 98%);
}
.flex-plus {
 display: flex;
 justify-content: space-between;
 gap: 10px;
 height: 3em;
}
.flex-plus div {
 width: 50%;
 display: flex;
 justify-content: center;
 border-radius: 10px;
 /* gap: 10px; */
 align-items: center;
 border: 1px transparent black;
 /* background-color: hsl(30, 25%, 89%); */
}

h2 {
 text-align: center;
 font-size: larger;
 /* color: aqua; */
}
.del {
 font-size: small;
 width: 100%;
 background-color: hsl(225, 21%, 49%);
 border: 1px transparent black;
  box-shadow: 1px 3px hsl(224, 28%, 35%);
 border-radius: 10px;
  color: white;
 /* text-align: center; */
 padding: 12px;
 height: 100%;
}
.del:active {
  background-color: hsl(225, 51%, 74%);
}

.del:hover {
  background-color: hsl(225, 51%, 74%);
}
.reset {
 background-color: red;
 background-color: hsl(225, 21%, 49%);
 box-shadow: 1px 3px hsl(224, 28%, 35%);
 color: white;
}
.reset:active{
  background-color: hsl(225, 51%, 74%);
}
.reset:hover{
  background-color: hsl(225, 51%, 74%);
}

.equal {
 background-color: hsl(6, 63%, 50%);
 box-shadow: 1px 3px hsl(6, 70%, 34%);
 color: white;
}
.equal:hover {
  background-color: hsl(6, 83%, 65%);
}
main {
 width: 40%;
 margin: 0 auto;
}
.main {
 display: flex;
 flex-direction: column;
 margin-top: 10px;
 padding: 10px;
 gap: 10px;
 background-color: hsl(223, 31%, 20%);
}
section {
 width: 40%;
 height: 4em;
 margin: 0 auto;
 background-color: hsl(224, 36%, 15%);
 color: white;
}
.section {
 
 margin-top: 20px;
 padding-right: 10px;
}
.section h2 {
 font-size: xx-large;
 text-align: right;
 margin-top: 15px;
 padding-top: 20px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  body{
    /* background-color: red; */
  }
  .header{
    width: 80%;
  }
  main{
    width: 80%;
  }
  section{
    width: 80%;
    height: 5em;
  }
  .flex div{
    height: 4em;
  }
  .toggles-num {
    width: 100%;
  }
  .toggles {
    width: 40%;
  }
  .toggle-three {
    margin-left: 80%;
    width: 20%;
    height: 15px;
  }
  .toggle-one {
    /* margin-left: 90%; */
    height: 15px;
    width: 20%;
  }
  .toggle-two {
    /* margin-left: 90%; */
    width: 20%;
    height: 15px;
  }
  .buttons{
    height: 20px;
  }
  .del{
    padding: 15px;
    font-size: large;
  }
  h3 {
    font-size: xx-large;
  }
}
